{% extends 'profile/logedUserProfile.html.twig' %}


{% block profileButton %}

    <div class="contact-button">
        <a class="btn btn-contact" href="{{ path('reviewUser', {'userId': userId}) }}">Įvertinti</a>
    </div>
{% endblock %}

{% block reportbutton %}
  {% include 'profile/reportUser.html.twig' %}
{% endblock %}
