{% extends 'profile/logedUserProfile.html.twig' %}

{% block message %}
{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="flash-{{ label }}">
  {{ message }}
</div>
{% endfor %}
{% endfor %}
{% endblock %}

{% block profileButton %}

<div class="contact-button">
  <a class="btn btn-contact" href="{{path('reviewProfile', {'id': id})}}">Įvertinti</a>
</div>
{% endblock %}
