
{% extends 'profile/logedUserProfile.html.twig' %}


{% block profileButton %}

<div class="contact-button">
  <a class="btn btn-contact" href="{{path('reviewProfile', {'id': id})}}">Įvertinti</a>
</div>
{% endblock %}
