{% extends 'profile/logedUserProfile.html.twig' %}

{% block profileButton %}

<div class="contact-button">
  <a class="btn btn-contact" href="{{path('reviewUser', {'id': id})}}">Įvertinti</a>
</div>
{% endblock %}
