{% extends 'profile/logedUserProfile.html.twig' %}


{% block profileButton %}

    <div class="contact-button">
        <a class="btn btn-contact" href="{{ path('reviewUser', {'userId': userId}) }}">Įvertinti</a>
    </div>
{% endblock %}

{% block reportbutton %}
    <div class="report">
        <a href="#">Raportuoti <i class="fas fa-ban"></i></a>
    </div>
{% endblock %}
