{% extends 'base.html.twig' %}


{% block main %}

<div class="profile-form">
  <form action="">
    <h6 class="user-name">Įvertinkite vartotoją!</h6>
    <textarea name="comment" rows="15" cols="85"></textarea>
    <div class="star-rate"></div>
    <input class="btn btn-submit-review" type="submit">
  </form>
</div>


{% endblock %}
