<div>
    <a href="{{ path('admin_reports_new') }}"><button class="btn-sm btn-info float-left">Nauji skundai</button></a>
    <a href="{{ path('admin_reports_solved') }}"><button class="btn-sm btn-outline-info float-right">Įspręsti skundai</button></a>
</div>