{% extends 'service/layout.html.twig' %}

{% block body %}
    {% for servicesBySearchTitle in servicesArray %}
        {%  if servicesBySearchTitle[3] != null %}
            {% include 'service/table/listTable-matches.html.twig' %}
        {% else %}
            <h5 class="text-danger">Šiuo metu nėra paslaugų pagal Jūsų užklausą {{ servicesBySearchTitle[0] }}</h5>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}