{% extends 'service/layout.html.twig' %}

{% block main %}

    <h2>Mano paslaugos</h2>
    {% for services in servicesArray %}
        {% include 'service/table/services.html.twig' %}
    {% endfor %}

{% endblock %}