{% extends 'service/layout.html.twig' %}

{% block main %}

    <h2 class="text-center mt-4 mb-5">DARBAI pagal mano paslaugas</h2>

    {% for matchesByService in potMatchesByServices %}
        {% if matchesByService[1] != null %}
            {% include 'service/table/pot-matches-table.html.twig' %}
        {% endif %}
    {% endfor %}

    {% for matchesByService in potMatchesByServices %}
        {% if matchesByService[1] == null %}
            <h6>Paslaugai
                <span class="text-success"> {{ matchesByService[0].title }}</span>
                <span class="text-danger"> darbų nėra</span></h6>
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}