{% extends "layout/layout-container.html.twig"%}

{% block body %}
    <div class="jobWrapper">
        <div id="main" class="container-under-fixednav" >
            {{ include('default/_flash_messages.html.twig') }}
            {% block main %} {% endblock %}
        </div>
    </div>
{% endblock %}