{% extends 'layout/layout-fluid-container.html.twig' %}

{% block body %}
    <div class="row">
        <div class="jobWrapper container-under-fixednav">
            <div class="page-title-elipse">
                <h2>MANO DARBAI</h2>
            </div>
            {% include 'job/table/jobs.html.twig' %}
        </div>
    </div>
{% endblock %}