{% extends 'job/layout.html.twig' %}

{% block main %}
    <h2 class="text-center mt-4 mb-5">PASLAUGOS pagal Mano darbus</h2>
    {% set jobsWithNoServices = [] %}
    {% for matchesByJob in potMatchesByJobs %}
        {% if matchesByJob[1] != null %}
            {% include 'job/table/pot-matches-table.html.twig' %}
        {% else %}
            {% set jobsWithNoServices = jobsWithNoServices|merge([matchesByJob[0].title]) %}
        {% endif %}
    {% endfor %}
    {% if jobsWithNoServices != [] %}
        <div class="alert alert-danger mt-5">
            {% for job in  jobsWithNoServices %}
                <h5 class="text-info">Darbui <span class="text-danger">{{ job }}</span>
                    šiuo metu pasiūlymų neturime</h5>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}