{% extends "admin/layout.html.twig" %}

{% block main %}
    <h2 class="text-center mb-5 text-info">ADMIN AREA </h2>

    {#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
    {{ form_start(form, {'method': 'post', 'action': path('admin_category_add'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="row mt-5">
        <div class="col">
            <input type="submit" class="btn btn-info col-sm-2 offset-4" value="Sukurti Kategoriją" />
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}