{% extends "admin/layout.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.request.attributes.all["_route"] == "admin_reports_new" %}
                    {% include 'admin/reports/getNewReports.html.twig' %}
                {% elseif app.request.attributes.all['_route'] == "admin_reports_solved"  %}
                    {% include 'admin/reports/getSolvedReports.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}