{% extends "admin/layout.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/services/getAllServices.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}