<li class="nav-item dropdown">
    <a class="nav-link text-warning" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-lock"></i>
        Admin <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
        <a href="#" class="dropdown-item">
            Vartotojai
        </a>
        <a href="#" class="dropdown-item">
            Darbai
        </a>
        <a href="#" class="dropdown-item">
            Paslaugos
        </a>
        <a href="#" class="dropdown-item">
            Subendrinti darbai
        </a>
        <a class="dropdown-item" href="{{ path ('admin_category') }}">
            Kategorijos
        </a>
    </div>
</li>