<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Pavadinimas</th>
        <th>Paslaugų kiekis</th>
        <th>Darbų kiekis</th>
        <th>Keisti</th>
        <th>Ištrinti</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.service_count }}</td>
            <td>{{ category.job_count }}</td>
            <td>Keisti</td>
            <td>Ištrinti</td>s
        </tr>
    {% endfor %}
    </tbody>
</table>
