//------ Login form ------------
.fos_login-wrapper{
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background: #eee;
  -webkit-box-shadow: 4px 11px 93px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 11px 93px -22px rgba(0,0,0,0.75);
  box-shadow: 4px 11px 93px -22px rgba(0,0,0,0.75);
}
.fos_login-wrapper h1{
  text-align: center;
}

//-----  Registration form --------------
.col-form-label{
  flex: 0 0 33.333333%;
  max-width: 300px;
  text-align: right;
}
.col-form-label+.col-sm-10 {
  flex: 0 0 66.666666%;
  max-width: 400px;
}
