a:hover{
  text-decoration: none;
}


//Colors

.color-cancel{
  color: #cc400e;
}

//Pagination
.page-link, .page-item.disabled .page-link {
  background-color: rgba(256, 256, 256, 0.2);
}

.page-item.active .page-link {
  background-color: rgba(0, 0, 0, 0.5);
}
.page-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.pagination{
  justify-content: center;
  margin-top: 30px;
}