li.nav-item{
  display: flex;
  align-items: center;
  a.color-white{
    color: $white;
  }
  a.color-white:hover{
    opacity: 0.8;
  }
}

#navbarSupportedContent {
  margin: 0;
  padding-left: 0;
}

.navbar {
  padding: 2.5px 2.5px 2.5px 10px;
}

.navbar-item {
  padding-right: 1rem;
}

