// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.nfq-academy {
  margin: 20px auto;
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  font-family: 'Lato', serif;
}

//imports customization of .dropdown class
@import "circles/normalize.css";
@import "circles/common.css";
@import "circles/style.css";

@import "cards/style.css";


@import "scss/custom/_header.scss";
@import "scss/custom/_footer.scss";
@import "scss/custom/_dropdown.scss";
@import "scss/custom/_fos.scss";
@import "scss/custom/_layout.scss";
@import "scss/custom/_profile.scss";
@import "scss/custom/_profile-mobile.scss";
@import "scss/custom/_navbar.scss";
@import "scss/custom/_maps.scss";
@import "scss/custom/_landing.scss";
@import "scss/custom/_forms.scss";
@import "scss/custom/_jobs-services-matches.scss";
@import "scss/custom/_general.scss";








.content {
  padding-top: 70px;
}
