// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.nfq-academy {
  margin: 20px auto;
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  font-family: 'Lato', serif;
}

//imports customization of .dropdown class
@import "scss/vendor/_header.scss";
@import "scss/vendor/_footer.scss";
@import "scss/vendor/_dropdown.scss";
@import "scss/vendor/_sidenav.scss";
@import "scss/vendor/_fos.scss";
@import "scss/vendor/_layout.scss";
@import "scss/vendor/_profile.scss";
@import "scss/vendor/_navbar.scss";
@import "scss/vendor/_maps.scss";



.content {
  padding-top: 70px;
}


