<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}NAMŲ RUOŠA{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        {% endblock %}
    </head>

    <body>

    {% block header %}
        {% include 'header.html.twig' %}
        {% include 'aside.html.twig' %}
    {% endblock %}

    <div class="container container-under-fixednav">
        {% block body %}
            {% include 'main.html.twig' %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include 'foooter.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    </body>
</html>
