<main>
    <div class="container content">
        <div class="row">
            <div class="col-sm-6">
                {% for i in 0..3 %}
                 First column   {{ i }} test text row <br>
                {% endfor %}
            </div>

            <div class="col-sm-6">
                {% for i in 0..4 %}
                Second column {{ i }} Test text row <br>
                {% endfor %}
            </div>
        </div>
    </div>
</main>